@keyframes slide-in {
  0% {
    transform: translateX(100%);
  }
  15% {
    transform: translateX(0%);
  }
  85% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes slider {
  0%,
  15% {
    transform: scaleX(0);
  }
  85% {
    transform: scaleX(1);
  }
}

.box {
  position: fixed;
  right: 20px;
  top: 150px;
  z-index: 999999;
  background-color: black;
  border-width: 2px;
  border-style: solid;
  border-radius: 8px;
  font-size: 1.1rem;
  box-sizing: border-box;
  animation: slide-in 5000ms;
  animation-direction: alternate;
  padding-bottom: 0;
  border-bottom: none;
  max-width: 600px;
}

.box > p {
  margin: 0;
}

.message {
  padding: 10px;
}

.slider {
  animation: slider 5000ms;
  animation-timing-function: linear;
  transform-origin: left;
  border-radius: 5px;
}
