.main {
  background-position: center;
  background-attachment: fixed;
  background-clip: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  flex: 1;
  background-image: linear-gradient(
    to bottom right,
    black,
    rgb(22, 22, 22),
    black
  );
}
