/* this file contain only global styles + css variables */
@font-face {
  font-family: "Cinzel";
  src: url("/fonts1/Cinzel-VariableFont_wght.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Fredoka";
  src: url("/fonts1/Fredoka-VariableFont_wdth,wght.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Viga";
  src: url("/fonts1/Viga-Regular.ttf") format("truetype");
  font-display: swap;
}

:root {
  font-family:
    "Fredoka",
    "Cinzel",
    "Google Sans",
    system-ui,
    -apple-system;
}

* {
  box-sizing: border-box;
}
html {
  margin: 0;
  padding: 0;
  border: none;
  min-height: 100vh;
  display: flex;
  scrollbar-width: thin;
  scrollbar-color: yellow black;
}

body {
  margin: 0;
  padding: 0;
  border: none;
  flex: 1;
  display: flex;
}

#root {
  flex: 1;
  display: flex;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cinzel", "Fredoka", "Google Sans", Inter;
}

/* ::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: gray;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: blue;
  height: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
} */
