/* this file contain only global styles + css variables */
/* @font-face {
  font-family: "Cinzel";
  src: url("/fonts1/Cinzel-VariableFont_wght.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Fredoka";
  src: url("/fonts1/Fredoka-VariableFont_wdth,wght.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Viga";
  src: url("/fonts1/Viga-Regular.ttf") format("truetype");
  font-display: swap;
} */

@font-face {
  font-family: "Cinzel";
  src: url("/fonts1/Cinzel-VariableFont_wght.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "EBGaramond";
  src:
    url("/fonts3/EBGaramond.woff2") format("woff2-variations"),
    url("/fonts3/EBGaramond.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "SpaceGrotesk";
  src:
    url("/fonts3/SpaceGrotesk.woff2") format("woff2-variations"),
    url("/fonts3/SpaceGrotesk.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "Jaro";
  src:
    url("/fonts3/Jaro-Regular.woff2") format("woff2-variations"),
    url("/fonts3/Jaro-Regular.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "PressStart2P";
  src:
    url("/fonts3/PressStart2P.woff2") format("woff2-variations"),
    url("/fonts3/PressStart2P.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
}
@font-face {
  font-family: "ArchitectsDaughter";
  src:
    url("/fonts3/ArchitectsDaughter.woff2") format("woff2-variations"),
    url("/fonts3/ArchitectsDaughter.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
}
:root {
  font-family:
    "EBGaramond",
    "SpaceGrotesk",
    "ArchitectsDaughter",
    "Roboto",
    "Google Sans",
    system-ui,
    -apple-system;
}

* {
  box-sizing: border-box;
}
html {
  margin: 0;
  padding: 0;
  border: none;
  min-height: 100vh;
  display: flex;
  scrollbar-width: thin;
  scrollbar-color: #0096ff black;
}

body {
  margin: 0;
  padding: 0;
  border: none;
  flex: 1;
  display: flex;
}

#root {
  flex: 1;
  display: flex;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family:
    "Cinzel", "ArchitectsDaughter", "EBGaramond", "Google Sans", Inter;
}
