.card {
  display: flex;
  flex-direction: column;
  border-radius: 8px;

  background-color: black;

  color: gold;
  text-align: center;
  font-size: 1.5rem;
  text-decoration: none;
  font-family: "Cinzel";

  border: 2px solid #0096ff;

  box-shadow: 2px 2px 5px #0096ff;
}

.card {
  text-decoration: none;
  color: gold;
}
.card > img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
