.imageGame {
  margin: 0;
  padding: 0;
  background-color: black;
}
.img {
  display: block;
  width: 100%;
  height: auto;
}

@media screen and (max-width: 1024px) {
  .imageGame {
    display: flex;
    max-width: 100vw;
    overflow: auto;
  }
  .img {
    max-width: 1024px;
    width: auto;
    height: auto;
  }
}

