.form {
  min-width: 500px;
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  padding: 30px;
  border-radius: 8px;
  gap: 20px;
}

.form > div.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.inputContainer > label {
  color: #0096ff;
  font-weight: 600;
  font-size: 1.1rem;
}

.inputContainer > input {
  outline: 1px solid #0096ff;
  border: 1px solid #0096ff;
  padding: 8px;
  border-radius: 4px;
  font-size: 1.1rem;
}

.form > button {
  background-color: #0096ff;
  font-size: 1.1rem;
  padding: 8px;
  border: none;
  color: white;
  border-radius: 8px;
  font-weight: 500;
  padding: 10px;
  font-weight: 600;
}

.instructions {
  text-align: center;
  line-height: 1.8;
  font-size: 1.4rem;
  font-weight: 500;
  color: gold;
  font-family: "Cinzel";
}

.changeForm {
  font-size: 1.1rem;
}
.changeForm > a {
  text-decoration: underline 1px solid aqua;
  color: aqua;
}
.changeForm > a:hover {
  cursor: pointer;
}
