.main {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 100px 10px;
}

.headingSection {
  margin-bottom: 100px;
}
.headingSection > * {
  margin: 0;
  text-align: center;
}
.headingSection > h2 {
  margin-top: 50px;
  color: gold;
  font-family: "PressStart2P", "Jaro";
}
.mainHeading {
  font-size: 3rem;
  text-align: center;
  color: whitesmoke;
  text-shadow:
    3px 3px #0096ff,
    -3px -3px #0096ff,
    30px 30px 30px #0096ff;
  font-family: "PressStart2P", "Jaro";
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 500px));
  justify-content: center;
  grid-gap: 30px;
}

/* ModeLeaderboard styles */

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  border: 3px solid #0096ff;
  border-radius: 8px;
  min-height: 300px;
  transition: transform 200ms ease-in;
}

.card:hover {
  transform: scale(1.03);
}
.cardTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  padding: 20px;
  width: 100%;
}

.cardTop > * {
  margin: 0;
  padding: 0;
}
.cardTop > h2 {
  color: gold;
}
.cardTop > a {
  text-decoration: none;
  color: inherit;
  background-color: #0096ff;
  color: white;
  font-weight: 600;
  border-radius: 8px;
  padding: 5px;
}
.cardTop > a:visited {
  text-decoration: none;
  color: inherit;
}

.cardTop > a:hover {
  transform: scale(1.05);
  background-color: rgb(8, 197, 197);
}

.topRanksContainer {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.table {
  text-align: center;
}

.table th {
  color: aqua;
  font-size: 1.1rem;
}
.table {
  color: white;
}

.empty {
  color: aqua;
}

.rankColumn {
  color: gold;
  font-weight: 800;
  font-size: 1.1rem;
}

.usernameColumn {
  color: greenyellow;
  font-size: 1rem;
}

.userTable,
.noRecord {
  text-align: center;
  padding: 10px 0;
  margin-top: 10px;
  background-color: black;
  border-top: 1px solid #0096ff;
  border-radius: 8px;
  color: white;
}

.noRecord {
  color: gold;
}
.userBest {
  font-size: 1.2rem;
  color: gold;
  font-weight: 800;
}

.userTableHeading {
  color: aquamarine;
  font-size: 1.1rem;
  font-weight: 600;
}
