.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.logoHeading {
  font-family: "Viga", "Cizel";
  font-size: 3rem;
  color: transparent;

  font-size: 64px;
  font-weight: 900;

  background: linear-gradient(to bottom, rgb(236, 210, 39), rgb(209, 136, 19));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.infoPara {
  font-size: 1.4rem;
  font-weight: 500;
  margin: 10px;
  color: black;
  margin-bottom: 40px;
  max-width: 800px;
  text-align: center;
}
